.popup#participate
  %h2.popup__header Регистрация участника
  .popup__body
    = form_tag participate_path, remote: true, method: :post, :'data-type' => :json do
      .field
        %label.label{:for => "register-desc"} Расскажите немного о себе
        .input__wrap
          %textarea#register-desc.textarea{:name => "message"}
      .submit
        %button.button{:type => "submit"} Вступить