- return_to ||= nil
%h2.popup__header Вход через социальную сеть
.popup__body
  %form{:action => "/", :method => "post"}
    .field
      %span.label.centered Войдите, чтобы иметь возможность проголосовать, стать участником или порекомендовать друга.
      %ul.socialbuttons
        %li.socialbuttons__item
          %a.vk{:href => user_omniauth_authorize_path(:vkontakte, return_to: return_to)}
        %li.socialbuttons__item
          %a.fb{:href => user_omniauth_authorize_path(:facebook, return_to: return_to)}