%ul
  - Member.order("rating desc").each do |m|
    %li
      %span.member_name
        = m.name
      %span.member_rating
        = m.rating
      = link_to "Голосовать", vote_member_path(m), remote: true, method: :post