- content_for :menu do
  %li.sitenav__item
    %span.sitenav__link{"data-href" => "about"} О проекте
%a.flag{:name => "about"}
%section.section.about#about
  .section__wrap
    %table.about__main_wrap{:cellpadding => "0", :cellspacing => "0"}
      %tr
        %td.about__main_before
          .about__main_before_wrap  
        %td.about__main
          %h2.section__header Что такое Foresight?
          .section__text.usercontent
            %p
              250 активных жителей нашего города разных возрастов и профессий при поддержке ведущих федеральных экспертов примут участие в 
              %nobr 3-дневной
              %strong форсайт-сессии.
              Это специальный формат коллективной умственной работы, продукт которого — сценарии развития, образы будущего и дорожная карта по достижению желаемого состояния рассматриваемого объекта. В данном случае — города Красноярска.
            %p
              %strong Технология «Форсайт»,
              от английского foresight — взгляд в будущее, применяется в современном мире в целях мобилизации интеллектуальных ресурсов активных граждан для качественного прорыва в какой-либо проблемной области.
            %p Мы считаем, что необходимо использовать эту технологию для объединения здоровых сил общества и достижения позитивных изменений в жизни своего города.
            %p Важно: катастрофический, а, тем более, апокалиптический сценарий развития мы во внимание не берем, так как на его основе невозможно действовать.
            %h3 Цели
            %ul
              %li Анализ существующих трендов и ресурсов;
              %li Обсуждение видения будущего города Красноярска до 2030 года;
              %li Оформление 3-5 альтернативных сценариев развития города;
              %li Построение дорожной карты.
        %td.about__main_after
          .about__main_after_wrap  
  .section__helper