<section class="section community">
	<div class="section__wrapper">
		<div class="section__wrap">
			<h2 class="section__header">Foresight-сообщество</h2>
			<div class="section__text">
				<div class="section__subheader">Красноярское foresight-сообщество — это мы!</div>
				<div class="columns">
					<div class="columns__item s">Те, кому небезразлично будущее родного города — Красноярска.</div>
					<div class="columns__item s">Те, у кого есть гражданская позиция, кто чувствует ответственность за свою среду обитания.</div>
					<div class="columns__item s">Те, кто не только живет сегодняшним днем, потребляя блага и ресурсы города, а думает о будущем.</div>
				</div>
				<div class="community__join">
					<span class="button contour js_popup" data-rel="participate">Вступить в сообщество</span>
					<span class="button contour">Порекомендовать в сообщество</span>
				</div>
			</div>
			<div class="community__top">
				<div class="community__top_header">ТОП-10</div>
				<div class="community__top_body">
					<ol class="members">
						<li class="members__item">
							<div class="member">
								<img src="" width="90" height="90" alt="" class="member__photo">
								<div class="member__name">Баранчикова Антонина</div>
								<div class="member__desc">Управленец, предприниматель</div>
								<div class="member__share">
									<!-- Place for share buttons -->
								</div>
								<footer class="member__footer">
									<ul class="member__social">
										<li class="member__social_item">
											<a href="#" class="vk">Вконтакте</a>
										</li>
										<li class="member__social_item">
											<a href="#" class="fb">Фейсбук</a>
										</li>
									</ul>
									<span class="button vote">Поддержать</span>
								</footer>
							</div>
						</li><li class="members__item">
							<div class="member">
								<img src="" width="90" height="90" alt="" class="member__photo">
								<div class="member__name">Баранчикова Антонина</div>
								<div class="member__desc">Управленец, предприниматель</div>
								<div class="member__share">
									<!-- Place for share buttons -->
								</div>
								<footer class="member__footer">
									<ul class="member__social">
										<li class="member__social_item">
											<a href="#" class="vk">Вконтакте</a>
										</li>
										<li class="member__social_item">
											<a href="#" class="fb">Фейсбук</a>
										</li>
									</ul>
									<span class="button vote">Поддержать</span>
								</footer>
							</div>
						</li><li class="members__item">
							<div class="member">
								<img src="" width="90" height="90" alt="" class="member__photo">
								<div class="member__name">Баранчикова Антонина</div>
								<div class="member__desc">Управленец, предприниматель</div>
								<div class="member__share">
									<!-- Place for share buttons -->
								</div>
								<footer class="member__footer">
									<ul class="member__social">
										<li class="member__social_item">
											<a href="#" class="vk">Вконтакте</a>
										</li>
										<li class="member__social_item">
											<a href="#" class="fb">Фейсбук</a>
										</li>
									</ul>
									<span class="button vote">Поддержать</span>
								</footer>
							</div>
						</li><li class="members__item">
							<div class="member">
								<img src="" width="90" height="90" alt="" class="member__photo">
								<div class="member__name">Баранчикова Антонина</div>
								<div class="member__desc">Управленец, предприниматель</div>
								<div class="member__share">
									<!-- Place for share buttons -->
								</div>
								<footer class="member__footer">
									<ul class="member__social">
										<li class="member__social_item">
											<a href="#" class="vk">Вконтакте</a>
										</li>
										<li class="member__social_item">
											<a href="#" class="fb">Фейсбук</a>
										</li>
									</ul>
									<span class="button vote">Поддержать</span>
								</footer>
							</div>
						</li><li class="members__item">
							<div class="member">
								<img src="" width="90" height="90" alt="" class="member__photo">
								<div class="member__name">Баранчикова Антонина</div>
								<div class="member__desc">Управленец, предприниматель</div>
								<div class="member__share">
									<!-- Place for share buttons -->
								</div>
								<footer class="member__footer">
									<ul class="member__social">
										<li class="member__social_item">
											<a href="#" class="vk">Вконтакте</a>
										</li>
										<li class="member__social_item">
											<a href="#" class="fb">Фейсбук</a>
										</li>
									</ul>
									<span class="button vote">Поддержать</span>
								</footer>
							</div>
						</li><li class="members__item">
							<div class="member">
								<img src="" width="90" height="90" alt="" class="member__photo">
								<div class="member__name">Баранчикова Антонина</div>
								<div class="member__desc">Управленец, предприниматель</div>
								<div class="member__share">
									<!-- Place for share buttons -->
								</div>
								<footer class="member__footer">
									<ul class="member__social">
										<li class="member__social_item">
											<a href="#" class="vk">Вконтакте</a>
										</li>
										<li class="member__social_item">
											<a href="#" class="fb">Фейсбук</a>
										</li>
									</ul>
									<span class="button vote">Поддержать</span>
								</footer>
							</div>
						</li><li class="members__item">
							<div class="member">
								<img src="" width="90" height="90" alt="" class="member__photo">
								<div class="member__name">Баранчикова Антонина</div>
								<div class="member__desc">Управленец, предприниматель</div>
								<div class="member__share">
									<!-- Place for share buttons -->
								</div>
								<footer class="member__footer">
									<ul class="member__social">
										<li class="member__social_item">
											<a href="#" class="vk">Вконтакте</a>
										</li>
										<li class="member__social_item">
											<a href="#" class="fb">Фейсбук</a>
										</li>
									</ul>
									<span class="button vote">Поддержать</span>
								</footer>
							</div>
						</li><li class="members__item">
							<div class="member">
								<img src="" width="90" height="90" alt="" class="member__photo">
								<div class="member__name">Баранчикова Антонина</div>
								<div class="member__desc">Управленец, предприниматель</div>
								<div class="member__share">
									<!-- Place for share buttons -->
								</div>
								<footer class="member__footer">
									<ul class="member__social">
										<li class="member__social_item">
											<a href="#" class="vk">Вконтакте</a>
										</li>
										<li class="member__social_item">
											<a href="#" class="fb">Фейсбук</a>
										</li>
									</ul>
									<span class="button vote">Поддержать</span>
								</footer>
							</div>
						</li><li class="members__item">
							<div class="member">
								<img src="" width="90" height="90" alt="" class="member__photo">
								<div class="member__name">Баранчикова Антонина</div>
								<div class="member__desc">Управленец, предприниматель</div>
								<div class="member__share">
									<!-- Place for share buttons -->
								</div>
								<footer class="member__footer">
									<ul class="member__social">
										<li class="member__social_item">
											<a href="#" class="vk">Вконтакте</a>
										</li>
										<li class="member__social_item">
											<a href="#" class="fb">Фейсбук</a>
										</li>
									</ul>
									<span class="button vote">Поддержать</span>
								</footer>
							</div>
						</li><li class="members__item">
							<div class="member">
								<img src="" width="90" height="90" alt="" class="member__photo">
								<div class="member__name">Баранчикова Антонина</div>
								<div class="member__desc">Управленец, предприниматель</div>
								<div class="member__share">
									<!-- Place for share buttons -->
								</div>
								<footer class="member__footer">
									<ul class="member__social">
										<li class="member__social_item">
											<a href="#" class="vk">Вконтакте</a>
										</li>
										<li class="member__social_item">
											<a href="#" class="fb">Фейсбук</a>
										</li>
									</ul>
									<span class="button vote">Поддержать</span>
								</footer>
							</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="section__helper"></div>
	</div>
	<div class="community__triangle"></div>
</section>