- content_for :menu do
  %li.sitenav__item
    %span.sitenav__link{"data-href" => "community"} Сообщество
%a.flag#community{:name => "community"}
%section.section.community
  .section__wrapper
    .section__wrap
      %h2.section__header Foresight-сообщество
      .section__text.usercontent
        %p Красноярское форсайт-сообщество — это мы, кому небезразлично будущее родного города.
        -#
          %p Любой активный житель города на этом сайте может:
          %ul
            %li Вступить в сообщество и самому претендовать на участие в форсайт-сессии.
            %li Предложить достойного, по его мнению, кандидата для участия в форсайт-сессии
        -#.community__join
          - unless (user_signed_in? && current_user.member.present?)
            %span#participate_btn.button.contour.js_popup{"data-rel" => "participate"} Вступить в сообщество
          %span.button.contour.js_popup{"data-rel" => "recommend"} Порекомендовать в сообщество
      .community__top
        .community__top_header ТОП-10
        .community__top_body
          %ol.members
            = render 'layouts/sections/members', all:false
        .community__allmembers
          = link_to 'Показать весь список', members_path, method: :get, remote: true, id: 'allmembers_link', class: 'button violet'
    .section__helper
  .community__triangle