<section class="section community">
	<div class="section__wrapper">
		<div class="section__wrap">
			<h2 class="section__header">Foresight-сообщество</h2>
			<div class="section__text">
				<div class="section__subheader">Красноярское foresight-сообщество — это мы!</div>
				<div class="columns">
					<div class="columns__item s">Те, кому небезразлично будущее родного города — Красноярска.</div>
					<div class="columns__item s">Те, у кого есть гражданская позиция, кто чувствует ответственность за свою среду обитания.</div>
					<div class="columns__item s">Те, кто не только живет сегодняшним днем, потребляя блага и ресурсы города, а думает о будущем.</div>
				</div>
				<div class="join">
					<span class="button contour js_popup", data-rel="participate">Вступить в сообщество</span>
					<span class="button contour">Порекомендовать в сообщество</span>
				</div>
			</div>
		</div>
		<div class="section__helper"></div>
	</div>
	<div class="community__triangle"></div>
</section>