%section.section.experts
  .section__wrapper
    .section__wrap
      %h2.section__header Экспертный совет
      .sliderexperts
        .sliderexperts__wrap
          %ul.sliderexperts__list
            - experts.each do |e|
              %li.sliderexperts__item
                .expert
                  .expert__main
                    /
                      div class="expert__photo_wrap">
                      <img src="content/expert-1.jpg" width="204" height="153" alt="" class="expert__photo">
                      </div
                    .expert__name= e[:name]
                    .expert__role= e[:role]
                  %footer.expert__footer
                    = link_to e[:web], e[:web], class: "expert__web" if e[:web]
                    %ul.expert__social
                      %li.expert__social_item
                        %a.expert__social_link.vk{:href => e[:vk_url]} Вконаткте
                      %li.expert__social_item
                        %a.expert__social_link.fb{:href => e[:fb_url]} Фейсбук
        .sliderexperts__control
          .sliderexperts__prev
          .sliderexperts__next
    .section__helper
  .experts__triangle