- content_for :menu do
  %li.sitenav__item
    %span.sitenav__link{"data-href" => "idea"} Расписание
%a.flag{:name => "idea"}
%section.section.idea#idea
  .section__wrap
    %h2.section__header Дата и время проведения
    .section__text.usercontent.textcenter
      .column
        %ol.usercontent__dates
          %li
            %dl
              %dt Формат
              %dd 3-дневная форсайт-сессия
              %dt Дата
              %dd 17-19 ноября 2012
              %dt Место
              %dd Библиотека СФУ (пр. Свободный, 79/10)
      .column
        %ol.usercontent__dates
          %li
            %dl
              %dt Формат
              %dd 4 тематические экспертные сессии (по 2-3 часа)
              %dt Дата
              %dd 4, 9, 12, 15 ноября 2012 (уточняется)
              %dt Место
              %dd уточняется
      .fulldescription
        %a.button{href: '/foresight.pdf', style: 'text-decoration:none'}
          %span.button__wrap Скачать полное описание
          %span.button__subtext PDF (0.3 МБ)
  .section__helper