- content_for :menu do
  %li.sitenav__item
    %span.sitenav__link{"data-href" => "idea"} Расписание
%a.flag{:name => "idea"}
%section.section.idea#idea
  .section__wrap
    %h2.section__header Дата и время проведения
    .section__text.usercontent.textcenter
      .column
        %ol.usercontent__dates
          %li
            %dl
              %dt Формат
              %dd 3-дневная форсайт-сессия
              %dt Дата
              %dd 17-19 ноября 2012
              %dt Место
              %dd Библиотека СФУ (пр. Свободный, 79/10)
      .column
        %ol.usercontent__dates
          %li
            %dl
              %dt Формат
              %dd 4 тематические экспертные сессии (по 2-3 часа)
              %dt Дата
              %dd 4, 9, 12, 15 ноября 2012 (уточняется)
              %dt Место
              %dd уточняется
      %table
        %tr
          %th{:width => "460"} Мероприятие
          %th Дата и время
          %th Место
        %tr
          %td Экономика города: индустриальное прошлое и неизвестное будущее
          %td 
            6 ноября, 17:00-20:00
          %td Конференц-зал КРИТБИ
        %tr
          %td Управление городом: власть, бизнес и городские сообщества
          %td 
            8 ноября, 17:00-20:00
          %td СФУ, ауд. 4-11
        %tr
          %td Образ города: архитектура, градостроительство, инфраструктура 
          %td 
            12 ноября, 17:00-20:00
          %td Союз архитекторов
        %tr
          %td Культурно-образовательное  пространство города: культура, наука, образование, инноватика
          %td 
            14 ноября, 17:00-20:00
          %td Дом кино (Арт-Чердак)
        %tr
          %td 
            %strong Форсайт-сессия по формированию образа будущего города Красноярска
          %td 
            %div 
              17,18 ноября, 11:00-19:00
            %div
              19 ноября, 14:00-19:00
          %td Конференц-зал КРИТБИ
  .section__helper