%section.section.idea
  .section__wrap
    %h2.section__header Что ждет наш город завтра, через год, через 5 лет, через 20?
    .section__text
      .column.usercontent
        %h3 Цели
        %ul
          %li Анализ существующих трендов и ресурсов;
          %li Обсуждение видения будущего города Красноярска до 2030 года;
          %li Оформление 3-5 альтернативных сценариев развития города;
          %li Построение дорожной карты.
      .column.usercontent
        %h3 Дата и время проведения
        %ol.usercontent__dates
          %li
            %dl
              %dt Формат
              %dd 3-дневная форсайт-сессия
              %dt Дата
              %dd 17-19 ноября 2012
              %dt Место
              %dd Библиотека СФУ (пр. Свободный, 79/10)
          %li
            %dl
              %dt Формат
              %dd 4 тематические экспертные сессии (по 2-3 часа)
              %dt Дата
              %dd 4, 9, 12, 15 ноября 2012 (уточняется)
              %dt Место
              %dd уточняется
  .section__helper