%a.flag{:name => "main"}
%section.section.main#main
  .section__wrap
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/59477072", :webkitallowfullscreen => "", :width => "600"}
    .slogan{style: 'margin-top:20px'} Проектируем будущее вместе!
    %a.button{href: '/foresight_program.pdf', style: 'text-decoration:none; margin-top: 20px', target: '_blank'}
      %span.button__wrap Скачать программу Форсайт-сессии
      %span.button__subtext PDF (0.2 МБ)
  .section__helper