%a.flag{:name => "main"}
%section.section.main#main
  .section__wrap
    .biglogo
      %img{:alt => "Foresight", :height => "363", :src => "/assets/biglogo.png", :width => "1289"}/
    .slogan Проектируем будущее вместе!
  .fulldescription{style: 'margin-top: 110px'}
    %a.button{href: '/foresight_program.pdf', style: 'text-decoration:none', target: '_blank'}
      %span.button__wrap Скачать программу Форсайт-сессии
      %span.button__subtext PDF (0.2 МБ)
  .section__helper