%a.flag{:name => "main"}
%section.section.main#main
  .section__wrap
    .biglogo
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :src => "http://www.youtube.com/embed/dCp09kfyfSg", :width => "600"}
    .slogan{:style => "margin-top:30px"} Проектируем будущее вместе!
  .section__helper