%section.section.main
  .section__wrap
    %div
      %img{:alt => "Foresight", :height => "363", :src => "/assets/biglogo.png", :width => "1289"}/
    .slogan Проектируем будущее вместе!
  .section__helper