- content_for :menu do
  %li.sitenav__item
    %span.sitenav__link{"data-href" => "book"} Книга

%a.flag{:name => "main"}
%section.section.main#main
  .section__wrap
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/59477072", :webkitallowfullscreen => "", :width => "600"}
  .section__helper

%a.flag{:name => "book"}
%section.section.book#book
  .section__wrap
    .slogan{style: 'margin-top:20px'} Проектируем будущее вместе!
    %a.button{href: '/foresight_book.pdf', style: 'text-decoration:none; margin-top: 50px', target: '_blank'}
      %span.button__wrap Скачать книгу КРАСНОЯРСК FORESIGHT
      %span.button__subtext PDF (4.9 МБ)
  .section__helper
