- content_for :menu do
  %li.sitenav__item
    %span.sitenav__link{"data-href" => "orgs"} Команда
%a.flag{:name => "orgs"}
%section.section.orgs#orgs
  .section__wrapper
    .section__wrap
      %h2.section__header Команда проекта
      .sliderpartners.sliderorgs
        .sliderpartners__wrap
          %ul.sliderpartners__list
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/kryukov.png"}
                .orgs__name Иван Крюков
                .orgs__desc Стратегический маркетолог, специалист по цифровому маркетингу и политическому PR в сети. Интернет-предприниматель.
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/okruh.png"}
                .orgs__name Станислав Окрух
                .orgs__desc Дизайнер и предприниматель. Основатель и креативный директор агентства брендинга и интерактивного дизайна «SmartHeart».
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/urazov.png"}
                .orgs__name Максим Уразов
                .orgs__desc Руководитель управления молодёжной политики администрации города Красноярска.
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/dadasheva.png"}
                .orgs__name Вера Дадашева
                .orgs__desc Аналитик, методист, ведущий специалист Центра стратегических исследований и разработок СФУ. 
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/khvostenko.png"}
                .orgs__name Алексей Хвостенко
                .orgs__desc Аналитик, автор текстов, частный консультант по маркетингу и управлению проектами. Руководитель проекта «Красноярский креативный кампус».
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/slyusarchuk.png"}
                .orgs__name Федор Слюсарчук
                .orgs__desc Разработчик интерактивных образовательных технологий. Методолог и мастер рефлексивных ролевых игр. Участник проектной группы «Метавер».
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/gureeva.png"}
                .orgs__name Татьяна Гуреева
                .orgs__desc Специалист по связям с общественностью управления молодёжной политики Администрации г. Красноярска. Официальный представитель сайта kmforum.ru
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/myasnikov.png"}
                .orgs__name Сергей Мясников
                .orgs__desc Специалист по коммуникационным кампаниям и маркетингу в соцсетях, топовый блогер, посол Livejournal в Красноярске.
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/dozortsev.png"}
                .orgs__name Илья Дозорцев
                .orgs__desc Главный специалист управления молодежной политики администрации г. Красноярска.
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/branchukov.png"}
                .orgs__name Денис Бранчуков
                .orgs__desc Юрист-организатор управления молодежной политики г. Красноярска
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/bezsalova.png"}
                .orgs__name Юлия Безсалова
                .orgs__desc Главный специалист-экономист управления молодежной политики администрации г. Красноярска.
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/gulyutin.png"}
                .orgs__name Николай Гулютин
                .orgs__desc Исследователь современных социальных и политических процессов, аналитик Центра «НЭРА – Новая Экономическая Реальность».
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/gaidamak.png"}
                .orgs__name Дина Гайдамак
                .orgs__desc Психолог-консультант, руководитель направления «Личностный рост» клуба «Сибирский социон», специалист в области рекламы.
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/ladyzhenko.png"}
                .orgs__name Сергей Ладыженко
                .orgs__desc 
        .sliderorgs__control
          .sliderorgs__prev
          .sliderorgs__next
    .section__helper