%section.section.orgs
  .section__wrapper
    .section__wrap
      %h2.section__header Организаторы
      .sliderpartners
        %ul.sliderpartners__list
          %li.sliderpartners__item
            .partner
              .partner__logo
                %img.partner__logo_image{:alt => "", :src => "content/logo-1.gif"}
              .partner__desc Рекламное агентство «Stive&Barton»
          %li.sliderpartners__item
            .partner
              .partner__logo
                %img.partner__logo_image{:alt => "", :src => "content/logo-2.gif"}
              .partner__desc Кинотеатр «Дом кино»
          %li.sliderpartners__item
            .partner
              .partner__logo
                %img.partner__logo_image{:alt => "", :src => "content/logo-2.gif"}
              .partner__desc Кинотеатр «Дом кино»
        .sliderpartners__control
          .sliderpartners__prev
          .sliderpartners__next
    .section__helper