- content_for :menu do
  %li.sitenav__item
    %span.sitenav__link{"data-href" => "orgs"} Организаторы
%a.flag{:name => "orgs"}
%section.section.orgs#orgs
  .section__wrapper
    .section__wrap
      %h2.section__header Организаторы
      .sliderpartners.sliderorgs
        .sliderpartners__wrap
          %ul.sliderpartners__list
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/efimov.png"}
                .orgs__name Валерий Ефимов
                .orgs__desc Российский исследователь и эксперт в области образования, социально-экономического и культурного развития территорий, кандидат физико-математических наук, доцент, директор Центра стратегических разработок СФУ 
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/okruh.png"}
                .orgs__name Станислав Окрух
                .orgs__desc Дизайнер и предприниматель. Создатель и креативный директор агентства брендинга и интерактивного дизайна SmartHeart, с представительствами и клиентами в Москве и Красноясрке. Победитель множества международных и российских конкурсов в сфере дизайна и брендинга. 
                / На протяжении последних лет активно сотрудничает с администрацией города Красноярска и Правительством Красноярского края в качестве арт-директора и дизайнера. Автор дизайна множества знаковых для города проектов, включая IQ Бал, Роботех, выставка в честь 75-летия Красноярского края, сайт Красноярского музейного центра и других.
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/myasnikov.png"}
                .orgs__name Сергей Мясников
                .orgs__desc Консультант по разработке и проведению коммуникативных кампаний, преподаватель кафедры общественных связей СибГАУ, руководитель лаборатории социальной рекламы “Альтернатива”, блоггер, специалист по маркетингу в социальных медиа, официальный представитель “Живого журнала” в Красноярске.
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/kryukov.png"}
                .orgs__name Иван Крюков
                .orgs__desc Частный консультант по стратегическому маркетингу и разработке интернет проектов, инициатор ряда online стартапов. Автор концепций нескольких успешных продуктов, автор целого ряда успешных информационных (маркетинговых) кампаний и проектов, в том числе проекта «Наказатель». Специалист по интернет-технологиям в политическом PR. 
                / Дважды призер международного фестиваля рекламы «Идея».
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/dadasheva.png"}
                .orgs__name Вера Дадашева
                .orgs__desc
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/khvostenko.png"}
                .orgs__name Алексей Хвостенко
                .orgs__desc Аналитик, автор текстов, независимый консультант по маркетингу и управлению проектами. С 2005 года активно задействован в реализации различных проектов как в бизнесе, так и в некоммерческом секторе. Коуч, фасилитатор, ведущий тренингов и публичных мероприятий, специалист по работе со СМИ. С 2008 года — идеолог и руководитель проектов «Галерея рекламы» и «Красноярский креативный кампус»
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/urazov.png"}
                .orgs__name Максим Уразов
                .orgs__desc
            %li.sliderpartners__item>
              .orgs
                .orgs__photo
                  %img.orgs__photo_image{:alt => "", :src => "/assets/orgs/gureeva.png"}
                .orgs__name Татьяна Гуреева
                .orgs__desc
        .sliderorgs__control
          .sliderorgs__prev
          .sliderorgs__next
    .section__helper