- content_for :menu do
  %li.sitenav__item
    %span.sitenav__link{"data-href" => "partners"} Партнеры
%section.section.partners
  .section__wrapper
    .section__wrap
      %h2.section__header Партнеры
      .sliderpartners
        %ul.sliderpartners__list
          %li.sliderpartners__item
            .partner
              .partner__logo
                %img.partner__logo_image{:alt => "", :src => "/assets/logos/adm.png"}
                .partner__helper
              .partner__desc Администрация города Красноярска
          %li.sliderpartners__item
            .partner
              .partner__logo
                %img.partner__logo_image{:alt => "", :src => "/assets/logos/kmf.png"}
                .partner__helper
              .partner__desc Молодежная неделя
          %li.sliderpartners__item
            .partner
              .partner__logo
                %img.partner__logo_image{:alt => "", :src => "/assets/logos/cc.png"}
                .partner__helper
              .partner__desc http://braincamp.ru
          %li.sliderpartners__item
            .partner
              .partner__logo
                %img.partner__logo_image{:alt => "", :src => "/assets/logos/sh.png"}
                .partner__helper
              .partner__desc Агентство дизайна и коммуникаций
        .sliderpartners__control
          .sliderpartners__prev
          .sliderpartners__next
    .section__helper