- content_for :menu do
  %li.sitenav__item
    %span.sitenav__link{"data-href" => "partners"} Учредители и партнеры
%a.flag{:name => "partners"}
%section.section.partners#partners
  .section__wrapper
    .section__wrap
      %h2.section__header Учредители и партнеры
      .sliderpartners
        %ul.sliderpartners__list
          %li.sliderpartners__item
            .partner
              .partner__logo
                %a.partner__logo_link{:href => "http://admkrsk.ru", :target => "_blank"}
                  %img.partner__logo_image{:alt => "", :src => "/assets/logos/adm.png"}
                .partner__helper
              .partner__desc Администрация города Красноярска
          %li.sliderpartners__item
            .partner
              .partner__logo
                %a.partner__logo_link{:href => "http://kmforum.ru", :target => "_blank"}
                  %img.partner__logo_image{:alt => "", :src => "/assets/logos/kmf.png"}
                .partner__helper
              .partner__desc Молодежная неделя
          %li.sliderpartners__item
            .partner
              .partner__logo
                %a.partner__logo_link{:href => "http://braincamp.ru", :target => "_blank"}
                  %img.partner__logo_image{:alt => "", :src => "/assets/logos/cc.png"}
                .partner__helper
              .partner__desc Креативный кампус
          %li.sliderpartners__item
            .partner
              .partner__logo
                %a.partner__logo_link{:href => "http://smart-heart.ru", :target => "_blank"}
                  %img.partner__logo_image{:alt => "", :src => "/assets/logos/sh.png"}
                .partner__helper
              .partner__desc Агентство дизайна и коммуникаций
          %li.sliderpartners__item
            .partner
              .partner__logo
                %a.partner__logo_link{:href => "http://prima-tv.ru/", :target => "_blank"}
                  %img.partner__logo_image{:alt => "", :src => "/assets/logos/sts.png"}
                .partner__helper
              .partner__desc СТС-Прима
          %li.sliderpartners__item
            .partner
              .partner__logo
                %a.partner__logo_link{:href => "http://www.kritbi.ru/", :target => "_blank"}
                  %img.partner__logo_image{:alt => "", :src => "/assets/logos/kritbi.png"}
                .partner__helper
              .partner__desc КРИТБИ
          %li.sliderpartners__item
            .partner
              .partner__logo
                %a.partner__logo_link{:href => "http://innov.pro/", :target => "_blank"}
                  %img.partner__logo_image{:alt => "", :src => "/assets/logos/innov.png"}
                .partner__helper
              .partner__desc Инновационный прорыв
        .sliderpartners__control
          .sliderpartners__prev
          .sliderpartners__next
    .section__helper