- content_for :menu do
  %li.sitenav__item
    %span.sitenav__link{"data-href" => "scenarios"} Сценарии развития
%a.flag{:name => "scenarios"}
%section.section.scenarios#scenarios
  .section__wrapper
    .section__wrap
      .sliderpartners.sliderorgs
        .sliderpartners__wrap
          %ul.sliderscenarios__list
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/oasis.jpg"}
                .orgs__name Иван Крюков
                .orgs__desc Стратегический маркетолог, специалист по цифровому маркетингу и политическому PR в сети. Интернет-предприниматель.
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/kras_vegas.jpg"}
                .orgs__name Иван Крюков
                .orgs__desc Стратегический маркетолог, специалист по цифровому маркетингу и политическому PR в сети. Интернет-предприниматель.
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/technopolis.jpg"}
                .orgs__name Иван Крюков
                .orgs__desc Стратегический маркетолог, специалист по цифровому маркетингу и политическому PR в сети. Интернет-предприниматель.
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/global_city.jpg"}
                .orgs__name Иван Крюков
                .orgs__desc Стратегический маркетолог, специалист по цифровому маркетингу и политическому PR в сети. Интернет-предприниматель.
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/north_frontir.jpg"}
                .orgs__name Иван Крюков
                .orgs__desc Стратегический маркетолог, специалист по цифровому маркетингу и политическому PR в сети. Интернет-предприниматель.
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/sib_detroit.jpg"}
                .orgs__name Иван Крюков
                .orgs__desc Стратегический маркетолог, специалист по цифровому маркетингу и политическому PR в сети. Интернет-предприниматель.
        .sliderscenarios__control
          .sliderscenarios__prev
          .sliderscenarios__next
    .section__helper