- content_for :menu do
  %li.sitenav__item
    %span.sitenav__link{"data-href" => "scenarios"} Сценарии развития
%a.flag{:name => "scenarios"}
%section.section.scenarios#scenarios
  .section__wrapper
    .section__wrap
      %h2.section__header Выбери сценарий развития города
      .sliderscenarios.sliderorgs
        .sliderscenarios__wrap
          %ul.sliderscenarios__list
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/global_city.jpg"}
                .scenarios__meta
                  .scenarios__name Глобальный город Сибири
                  .scenarios__desc Красноярск — это ворота для мирового капитала и новых технологий. Он открывает Сибирь миру, а мир Сибири. Для этого он должен стать многоязычным городом, глобальным логистическим узлом и центром международного сотрудничества.
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/oasis.jpg"}
                .scenarios__meta
                  .scenarios__name Оазис комфорта
                  .scenarios__desc Красивый, интересный, удобный город. Ориентированный, в первую очередь, на горожан, а не на промышленные производства. В условиях усиливающейся конкуренции городов за человеческий капитал, Красноярск должен сконцентрироваться на повышении качества жизни: улучшать экологию, развивать общественный транспорт и социальную сферу.
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/kras_vegas.jpg"}
                .scenarios__meta
                  .scenarios__name Крас-Вегас
                  .scenarios__desc Центр потребления и рекреации для работников сырьевых и промышленных компаний близлежащих регионов. Создание в городе игорной зоны и комплексное развитие индустрии въездного туризма позволит Красноярску стать развлекательным центром Сибири.
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/technopolis.jpg"}
                .scenarios__meta
                  .scenarios__name Технополис
                  .scenarios__desc Инженерный и внедренческий центр международного уровня, центр современного, высокотехнологичного производства. В городе должно поддерживаться создание технопарков и комплексов прототипирования, R&D центров крупных компаний. Должны развиваться наука и образование.
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/north_frontir.jpg"}
                .scenarios__meta
                  .scenarios__name Северный фронтир
                  .scenarios__desc Красноярск — центр разработки и внедрения новых технологий и практик, связанных с жизнью и деятельностью в суровых климатических условиях. Для этого город должен стать плацдармом освоения Арктики и центром нового осмысления жизни человека в условиях Севера.
            %li.sliderscenarios__item>
              .scenarios
                .scenarios__photo
                  %img.scenarios__photo_image{:alt => "", :src => "/assets/scenarios/sib_detroit.jpg"}
                .scenarios__meta
                  .scenarios__name Сибирский Детройт
                  .scenarios__desc Это депрессивный сценарий, основан на возможности серьезного экономического кризиса. По аналогии с американским Детройтом, который в результате падения уровня производствастали массово покидать люди.
        .sliderscenarios__control
          .sliderscenarios__prev
          .sliderscenarios__next
    .section__helper