@charset "utf-8";
@import "reset.css";
@import "fonts.css";

/* COMMON */
html,
body {
	min-width:1000px;
	height:100%;
	font-family:"goodcyr-light", Arial, Helvetica, sans-serif;
	}
body {
	overflow:auto;
	}
a,
.pseudolink {
	color:#009ddf;
	text-decoration:underline;
	cursor:pointer;
	}
a:hover,
.pseudolink:hover {
	text-decoration:none;
	}
a:active,
.pseudolink:active {
	color:red;
	}
a.flag {
	display:block;
	width:0;
	height:0;
	}

/* USER INTERFACE */
.button {
	position: relative;
	display: inline-block;
	padding:10px 47px 10px 20px;
	border:1px solid #1b81bd;
	border-radius:5px;
	background: #31b2e8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxYjJlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjliZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #31b2e8 0%, #1b9bd1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31b2e8), color-stop(100%,#1b9bd1));
	background: -webkit-linear-gradient(top,  #31b2e8 0%,#1b9bd1 100%);
	background: -o-linear-gradient(top,  #31b2e8 0%,#1b9bd1 100%);
	background: -ms-linear-gradient(top,  #31b2e8 0%,#1b9bd1 100%);
	background: linear-gradient(to bottom,  #31b2e8 0%,#1b9bd1 100%);
	box-shadow:inset 0 1px 0 0 #65c5ef;
	color:#fff;
	font:18px/19px "goodcyr-light", Arial, Helvetica, sans-serif;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31b2e8', endColorstr='#1b9bd1',GradientType=0 );
	cursor:pointer;
	}
.button:after {
	position: absolute;
	top:50%;
	right:16px;
	margin:-8px 0 0;
	width:10px;
	height:16px;
	background:url(/assets/icons/button.png) top left no-repeat;
	content:'';
	}
.button:hover {
	opacity:0.9;
	}
.button:active {
	color:#ccffff;
	}
.button.signup__button {
	border-top:0;
	border-radius:0 0 5px 5px;
	}
.button.signup__button:after,
.button.contour:after {
	background:url('/assets/icons/signup.png') top left no-repeat;
	}
.button.contour {
	margin:0 11px;
	border:2px solid #fff;
	background:rgba(74,22,88,0.15);
	box-shadow:0 1px 10px 0 rgba(0,0,0,0.25);
	}
.button.contour:hover {
	background:#3da3da;
	opacity:1;
	}
.button.vote {
	padding:0 10px;
	border:0;
	background:#0f5993;
	box-shadow:-1px -1px 0 0 rgba(255,255,255,0.3), 1px 1px 0 0 rgba(0,0,0,0.3);
	color:#bdcf26;
	text-decoration: none;
	font:11px/22px Arial, Helvetica, sans-serif;
	}
.button.vote:hover {
	opacity:0.8;
	}
.button.vote:active {
	position: relative;
	right:-1px;
	bottom:-1px;
	box-shadow:1px 1px 0 0 rgba(255,255,255,0.3);
	}
.button.vote:after {
	display:none;
	content:'';
	}
.button.violet {
	border:0;
	background: rgb(225,93,150);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxNWQ5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMzIxNjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(225,93,150,1) 0%, rgba(179,33,100,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,93,150,1)), color-stop(100%,rgba(179,33,100,1)));
	background: -webkit-linear-gradient(top,  rgba(225,93,150,1) 0%,rgba(179,33,100,1) 100%);
	background: -o-linear-gradient(top,  rgba(225,93,150,1) 0%,rgba(179,33,100,1) 100%);
	background: -ms-linear-gradient(top,  rgba(225,93,150,1) 0%,rgba(179,33,100,1) 100%);
	background: linear-gradient(to bottom,  rgba(225,93,150,1) 0%,rgba(179,33,100,1) 100%);
	box-shadow:inset 0 1px 0 0 #efa6c5, 0 0 2px 0 rgba(0,0,0,0.5);
	text-decoration: none;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e15d96', endColorstr='#b32164',GradientType=0 );
	}
.button.violet:hover {
	opacity:1;
	}
.button.violet:after {
	position: absolute;
	top:50%;
	right:16px;
	margin:-5px 0 0;
	width:16px;
	height:10px;
	background:url(/assets/icons/allmembers.png) top left no-repeat;
	}

	.button__wrap {
		display:block;
		}
	.button__subtext {
		display:block;
		color:#063e5f;
		font:11px Arial, Helvetica, sans-serif;
		}
	.button a {
		color:#fff;
		text-decoration:underline;
		}

.field {
	margin:0 0 40px;
	}
	.label {
		display:block;
		margin:0 0 12px;
		}
	.label.centered {
		text-align:center;
		}
	.input__wrap {
		margin:0 10px 0 0;
		}
		.input,
		.textarea {
			margin:0;
			padding:0;
			padding:10px 4px;
			width:100%;
			border:1px solid #ddd;
			border-radius:4px;
			box-shadow:0 0 6px 0 rgba(0,0,0,0.05);
			color:#0860a4;
			font:18px/18px "goodcyr-light", Arial, Helvetica, sans-serif;
			}
		.textarea {
			height:100px;
			resize:none;
			}
		.input:focus,
		.textarea:focus {
			outline:0;
			border:1px solid #1b81bd;
			}
.submit {
	text-align:center;
	}



/* LAYOUT */

/* Header */
#header {
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	min-width:980px;
	width:100%;
	height:94px;
	border-bottom:1px solid #d7d7d7;
	background:#fff;
	/* box-shadow:0 1px 10px 0 rgba(0,0,0,0.25); */
	text-align:center;
	line-height:94px;
	}
#header:after {
	position: absolute;
	top:95px;
	left:0;
	z-index:2;
	width:100%;
	height:9px;
	background:url(/assets/hdr-shadow.png) repeat-x;
	content:'';
	}
	.header__wrap {
		position:relative;
		/* display:inline-block; */
		height:94px;
		/* vertical-align:top; */
		}
		#logo {
			display:inline-block;
			margin-right:42px;
			vertical-align:middle;
			}
			.logo__image {
				vertical-align:middle;
				}

/* Footer */
#footer {
	padding:24px 0 0;
	height:96px;
	border-top:1px solid #d7d7d7;
	background:#fff;
	box-shadow:0 -1px 10px 0 rgba(0,0,0,0.25);
	}
	.footer__wrap {
		margin:auto;
		width:1000px;
		}
		.development {
			float:right;
			}
		.copyrights {
			display: inline-block;
			vertical-align:top;
			width:460px;
			white-space:normal;
			font:15px/24px "goodcyr-light", Arial, Helvetica, sans-serif;
			margin:0 40px 0 0;
			}
		.contacts {
			float:right;
			display:inline-block;
			vertical-align:top;
			
			white-space:normal;
			font:15px/24px "goodcyr-light", Arial, Helvetica, sans-serif;
			}
			.contacts .phone {
				display:block;
				font-size:17px;
				font-weight:bold;
				}

/* Section */
.section {
	position:relative;
	min-height:600px;
	height:100%;
	text-align:center;
	white-space:nowrap;
	font-size:0;
	}
	.section__wrapper {
		position:relative;
		overflow:hidden;
		height:100%;
		}
		.section__wrap {
			position:relative;
			bottom:-47px;
			display:inline-block;
			width:100%;
			vertical-align:middle;
			white-space:normal;
			font-size:14px;
			}
			.section__header {
				margin:0 0 45px;
				color:#302e2e;
				text-shadow:1px 2px 0 rgba(0,0,0,0.35);
				font:48px/48px "goodcyr-book", Arial, Helvetica, sans-serif;
				}
			.section__text {
				margin:0 0 40px;
				color:#656565;
				text-align:left;
				text-align:center;
				font:16px/21px "goodcyr-light", Arial, Helvetica, sans-serif;
				}
				.section__text .column {
					display: inline-block;
					margin:0 4%;
					width:40%;
					vertical-align:top;
					}
		.section__helper {
			display:inline-block;
			width:0;
			height:100%;
			vertical-align:middle;
			}


.section.main {
	background: rgb(240,240,240);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(240,240,240) 0%, rgb(255,255,255) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(240,240,240)), color-stop(100%,rgb(255,255,255)));
	background: -webkit-linear-gradient(top,  rgb(240,240,240) 0%,rgb(255,255,255) 100%);
	background: -o-linear-gradient(top,  rgb(240,240,240) 0%,rgb(255,255,255) 100%);
	background: -ms-linear-gradient(top,  rgb(240,240,240) 0%,rgb(255,255,255) 100%);
	background: linear-gradient(to bottom,  rgb(240,240,240) 0%,rgb(255,255,255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 );
	}

.section.about {
	height:auto;
	padding:100px 0 60px;
	}
	.section.about .section__wrap {
		width:100%;
		}
		.about__main_wrap {
			width:100%;
			}
			.about__main_before {
				text-align:left;
				}
				.about__main_before_wrap {
					display:inline-block;
					max-width:321px;
					width:100%;
					height:430px;
					background:url('/assets/about-bg-2.png') top right no-repeat;
					vertical-align:top;
					}
			.about__main {
				width:980px;
				}
				.about .section__text {
					-webkit-columns:2;
					-moz-columns:2;
					columns:2;
					}
			.about__main_after {
				text-align:right;
				}
				.about__main_after_wrap {
					display:inline-block;
					max-width:278px;
					width:100%;
					height:430px;
					background:url('/assets/about-bg-1.png') top left no-repeat;
					vertical-align:top;
					}

.section.idea {
	position:relative;
	background:url('/assets/idea-bg.gif') top center;
	}
.section.idea:before {
	position:absolute;
	bottom:100%;
	left:0;
	width:100%;
	height:17px;
	background:url('/assets/idea-top.png') top center;
	content:'';
	}
	.section.idea .section__header {
		color:#581776;
		}
	.section.idea .section__wrap {
		width:980px;
		}

.section.experts {
	box-shadow:inset 0 0 40px 0 rgba(0,0,0,0.5);
	background:url('/assets/experts-bg.gif') top center;
	}
	.section.experts .section__wrapper:before {
		position: absolute;
		top:-50%;
		left:0;
		width:100%;
		height:100%;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhMTM5OTQiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMTM5OTQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(161,57,148,0.8) 0%, rgba(161,57,148,0) 70%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(161,57,148,0.8)), color-stop(70%,rgba(161,57,148,0)));
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(161,57,148,0.8) 0%,rgba(161,57,148,0) 70%);
		background: -o-radial-gradient(center, ellipse cover,  rgba(161,57,148,0.8) 0%,rgba(161,57,148,0) 70%);
		background: -ms-radial-gradient(center, ellipse cover,  rgba(161,57,148,0.8) 0%,rgba(161,57,148,0) 70%);
		background: radial-gradient(ellipse at center,  rgba(161,57,148,0.8) 0%,rgba(161,57,148,0) 70%);
		content:'';
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca13994', endColorstr='#00a13994',GradientType=1 );
		}
	.section.experts .section__wrapper:after {
		position: absolute;
		top:0;
		left:50%;
		margin:0 0 0 -75px;
		border-top:45px solid #f2f2f2;
		border-right:75px solid transparent;
		border-left:75px solid transparent;
		content:'';
		}
		.section.experts .section__wrap {

			}
			.section.experts .section__header {
				color:#fff;
				}
	.experts__triangle {
		position:absolute;
		bottom:-45px;
		left:50%;
		z-index:1;
		margin:0 0 0 -75px;
		width:150px;
		height:85px;
		background:url('/assets/experts-triangle.png') top left no-repeat;
		}

.section.community {
	padding:0;
	height:auto;
	background:url('/assets/community-bg.gif') top center;
	box-shadow:inset 0 0 40px 0 rgba(0,0,0,0.5);
	}
	.section.community .section__wrapper {
		padding:70px 0 90px;
		}
	.section.community .section__wrapper:before {
		position: absolute;
		top:-50%;
		left:0;
		width:100%;
		height:100%;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2MGJlZWEiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzYwYmVlYSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2MGJlZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiM2MGJlZWEiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(96,190,234,1) 0%, rgba(96,190,234,0) 75%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(96,190,234,1)), color-stop(75%,rgba(96,190,234,0)));
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(96,190,234,1) 0%,rgba(96,190,234,0) 75%);
		background: -o-radial-gradient(center, ellipse cover,  rgba(96,190,234,1) 0%,rgba(96,190,234,0) 75%);
		background: -ms-radial-gradient(center, ellipse cover,  rgba(96,190,234,1) 0%,rgba(96,190,234,0) 75%);
		background: radial-gradient(ellipse at center,  rgba(96,190,234,1) 0%,rgba(96,190,234,0) 75%);
		content:'';
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60beea', endColorstr='#0060beea',GradientType=1 );
		}
		.section.community .section__wrap {

			}
			.section.community .section__header {
				color:#fff;
				}
			.section.community .section__text {
				margin:auto;
				width:980px;
				border-bottom:1px solid #3b96cf;
				color:#fff;
				text-align:center;
				}
				.section__subheader {
					margin:0 0 33px;
					color:#62125a;
					text-shadow:1px 2px 0 rgba(0,0,0,0.1);
					font:26px "goodcyr-book", Arial, Helvetica, sans-serif;
					}
				.section.community .section__text ul {
					text-align:left;
					width:600px;
					color:#000;
					background:#fff;
					margin:9px auto 18px;
					padding:10px 20px 2px 60px;
					border-radius:8px;
					}
				.columns {
					margin:0 -25px;
					text-align:center;
					}
					.columns__item {
						display:inline-block;
						margin:0 20px;
						vertical-align:top;
						text-align:left;
						}
					.columns__item.s {
						width:300px;
						}
					.section.community .columns__item {
						position:relative;
						color:#fff;
						font:17px/23px "goodcyr-light", Arial, Helvetica, sans-serif;
						}
					.section.community .columns__item:before {
						position: absolute;
						top:8px;
						left:-15px;
						width:6px;
						height:6px;
						border-radius:3px;
						background:#62125a;
						content:'';
						}
				.community__join {
					padding:40px 0 37px;
					border-bottom:2px solid #0866a8;
					text-align:center;
					}
			.community__top {

				}
				.community__top_header {
					margin:30px 0;
					color:#fff;
					text-shadow:1px 2px 0 #0464b3;
					font:35px "goodcyr-book", Arial, Helvetica, sans-serif;
					}
				.community__top_body {
					margin:auto;
					padding:10px 10px 0;
					border:1px solid #06507e;
					border-right:1px solid #46a1d6;
					border-bottom:1px solid #46a1d6;
					border-radius:8px;
					background:rgba(0,0,0,0.1);
					}
				.community__allmembers {
					margin:40px 0 0;
					}
	.community__triangle {
		position:absolute;
		bottom:-45px;
		left:50%;
		z-index:1;
		margin:0 0 0 -75px;
		width:150px;
		height:85px;
		background:url('/assets/community-triangle.png') top left no-repeat;
		}

.section.orgs {
	border-bottom:1px solid #f6f6f6;
	}

.section.partners {
	background:url('/assets/partners-bg.gif');
	}
	.section.partners .section__header {
		color:#581776;
		}

.section.orgs {
	border-bottom:1px solid #f6f6f6;
	}

.section.partners {
	background:url('/assets/partners-bg.gif');
	}
	.section.partners .section__header {
		color:#581776;
		}




/* CLASSES */
.sitenav {
	display: inline-block;
	vertical-align:middle;
	}
	.sitenav__list {

		}
		.sitenav__item {
			display: inline-block;
			margin:0 10px;
			vertical-align:middle;
			}
			.sitenav__link {
				border-bottom:1px solid #009ddf;
				color:#009ddf;
				font-family:17px "GoodBook", Arial, Helvetica, sans-serif;
				cursor:pointer;
				}
			.sitenav__link:hover {
				border-bottom:1px dashed #009ddf;
				}

.social {
	display: inline-block;
	vertical-align:middle;
	}
	.social__list {
		padding-left:14px;
		}
		.social__item {
			display:inline-block;
			margin:0 8px;
			width:20px;
			height:20px;
			vertical-align:middle;
			}
			.social__link {
				display:block;
				overflow:hidden;
				width:20px;
				height:20px;
				text-indent:-9999px;
				}
			.social__link.tw {
				background:url('/assets/icons/social.gif') top left no-repeat;
				}
			.social__link.vk {
				background:url('/assets/icons/social.gif') top center no-repeat;
				}
			.social__link.fb {
				background:url('/assets/icons/social.gif') top right no-repeat;
				}
			.social__link:hover {
				opacity:0.9;
				}
			.social__link:active {
				position: relative;
				bottom:-1px;
				}

.signup {
	position:absolute;
	top:95px;
	right:10px;
	line-height:0;
	}

.sliderexperts {
	position:relative;
	overflow:hidden;
	width:100%;
	text-align:center;
	}
	.sliderexperts__wrap {
		display:inline-block;
		overflow:hidden;
		padding:0 0 20px;
		width:100%;
		vertical-align:top;
		}
		.sliderexperts__list {
			position:relative;
			padding:0 0 40px;
			text-align:left;
			white-space:nowrap;
			font-size:0;
			}
			.sliderexperts__item {
				display: inline-block;
				padding:20px 10px;
				width:204px;
				border-radius:5px;
				vertical-align:top;
				text-align:center;
				white-space:normal;
				}
			.sliderexperts__item:hover {
				background:#fff;
				}
				.sliderexperts__item:hover .expert__main {
					/* border-bottom:2px solid #dcdcdc; */
					}
					.sliderexperts__item:hover .expert__photo_wrap {
						box-shadow:none;
						}
					.sliderexperts__item:hover .expert__photo_wrap:after {
						display:none;
						}
						.sliderexperts__item:hover .expert__photo {
							box-shadow:none;
							}
					.sliderexperts__item:hover .expert__name {
						color:#000;
						text-shadow:none;
						}
					.sliderexperts__item:hover .expert__role {
						color:#872b8f;
						text-shadow:none;
						}
				.sliderexperts__item:hover .expert__footer {
					border-top:1px solid #fff;
					}
					.sliderexperts__item:hover .expert__web {
						
						}
	.sliderexperts__control,
	.sliderorgs__control {

		}
		.sliderexperts__prev,
		.sliderexperts__next,
		.sliderorgs__prev,
		.sliderorgs__next {
			position: absolute;
			top:50%;
			margin:-75px 0 0;
			width:75px;
			height:150px;
			opacity:0.5;
			cursor:pointer;
			-webkit-transition:all 0.5s ease;
			-moz-transition:all 0.5s ease;
			transition:all 0.5s ease;
			}
		.sliderexperts__prev,
		.sliderorgs__prev {
			left:-10px;
			background:url('/assets/icons/experts-control.png') top right no-repeat;
			}
		.sliderexperts__next,
		.sliderorgs__next {
			right:-10px;
			background:url('/assets/icons/experts-control.png') top left no-repeat;
			}
		.sliderexperts__prev:hover,
		.sliderorgs__prev:hover {
			left:0;
			opacity:1;
			}
		.sliderexperts__next:hover,
		.sliderorgs__next:hover {
			right:0;
			opacity:1;
			}

.expert {
	position:relative;
	}
	.expert__main {
		height:288px;
		border-bottom:2px solid #350f41;
		}
		.expert__photo_wrap {
			position:relative;
			margin:0 0 18px;
			}
			.expert__photo {
				background:#ccc;
				box-shadow:0 2px 8px 0 #000;
				vertical-align:top;
				}
		.expert__photo_wrap:after {
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			z-index:1;
			box-shadow:inset 0 0 20px 0 rgba(0,0,0,0.6);
			content:'';
			}
		.expert__name {
			margin:0 0 5px;
			color:#fff;
			text-shadow:1px 1px 0 rgba(0,0,0,0.35);
			font:18px/22px "goodcyr-book", Arial, Helvetica, sans-serif;
			}
		.expert__role {
			color:#a1729d;
			text-shadow:1px 1px 0 rgba(0,0,0,0.35);
			font:13px/17px Arial, Helvetica, sans-serif;
			}
	.expert__footer {
		padding:10px 0;
		width:100%;
		border-top:1px solid #5a2c68;
		text-align:center;
		}
		.expert__web {
			display:inline-block;
			margin-right:10px;
			color:#e25e97;
			vertical-align:middle;
			text-decoration:none;
			font:13px Arial, Helvetica, sans-serif;
			}
		.expert__social {
			display: inline-block;
			vertical-align:middle;
			}
			.expert__social_item {
				display: inline-block;
				margin:0 5px;
				width:28px;
				height:28px;
				}
				.expert__social_link {
					display:block;
					overflow:hidden;
					width:28px;
					height:28px;
					background:yellow;
					text-indent:-9999px;
					}
				.expert__social_link.vk {
					background:url('/assets/icons/expert-social.png') top left no-repeat;
					}
				.expert__social_link.fb {
					background:url('/assets/icons/expert-social.png') top right no-repeat;
					}
				.expert__social_link:hover {
					opacity:0.9;
					}
				.expert__social_link:active {
					position: relative;
					bottom:-1px;
					}

.biglogo {
	position:relative;
	overflow:hidden;
	width:100%;
	height:363px;
	}
	.biglogo img {
		position: absolute;
		top:0;
		left:50%;
		margin:0 0 0 -645px;
		}
.slogan {
	color:#c92772;
	font:54px "goodcyr-book", Arial, Helvetica, sans-serif;
	}

.sliderpartners {

	}
.sliderpartners.sliderorgs {
	height:400px;
	}
	.sliderpartners__wrap {
		display:inline-block;
		overflow:hidden;
		padding:0 0 20px;
		width:100%;
		vertical-align:top;
		}
		.sliderpartners__list {
			position:relative;
			white-space:nowrap;
			}
		.sliderorgs .sliderpartners__list {
			height:400px !important;
			text-align:left;
			}
			.sliderpartners__item {
				display:inline-block;
				margin:0;
				vertical-align:top;
				}
			.sliderorgs .sliderpartners__item {
				width:200px;
				text-align:center;
				}

.partner {

	}
	.partner__logo {
		margin:0 0 15px;
		height:100px;
		text-align:center;
		}
		.partner__logo_link,
		.partner__logo_image {
			display:inline-block;
			vertical-align:middle;
			}
		.partner__helper {
			display:inline-block;
			height:100px;
			vertical-align:middle;
			}
	.partner__desc {
		padding:0 10px;
		width:180px;
		color:#581776;
		white-space:normal;
		font:13px/18px Arial, Helvetica, sans-serif;
		}

.usercontent {
	text-align:left;
	}
.usercontent.textcenter {
	text-align:center;
	}
	.usercontent h3 {
		margin:0 0 20px;
		color:#000;
		font:18px "goodcyr-book", Arial, Helvetica, sans-serif;
		}
	.usercontent p {
		margin:0 0 20px;
		}
	.usercontent strong {
		color:#c92772;
		}
	.usercontent ul {
		margin:0 0 0 30px;
		}
		.usercontent ul li {
			margin:0 0 10px;
			}
		.usercontent ul li:before {
			position: relative;
			left:-30px;
			float:left;
			margin:0 -30px 0 0;
			width:30px;
			color:#c92772;
			content:'—';
			font-size:18px;
			}
	.usercontent ol {
		margin:10px 0 0 10px;
		}
		.usercontent ol li {
			list-style:decimal;
			margin:0 0 10px 10px;
			}
	.usercontent dl {
		padding:0 0 0 80px;
		}
		.usercontent dl dt {
			position: relative;
			left:-80px;
			float:left;
			margin:0 -80px 0 0;
			width:80px;
			color:#999;
			}
		.usercontent dl dd {

			}
	.usercontent .usercontent__dates {
		margin:0 auto 20px;
		width:360px;
		text-align:left;
		list-style:none;
		}
		.usercontent .usercontent__dates li {
			margin:0 0 20px;
			list-style:none;
			}
	.usercontent table {
		text-align:left;
		margin:40px auto;
		padding:100px;
		background:rgba(255,255,255,0.2);
		width:850px;
		font:13px/18px "goodcyr-light", Arial, Helvetica, sans-serif;
		}
		.usercontent tr {

			}
			.usercontent table tr th {
				color:#000;
				font-weight:bold;
				padding:6px 10px;
				1border-bottom:1px solid #000;
				}
			.usercontent table tr td {
				1border-top:1px solid #ddd;
				padding:10px;
				}

#overlay {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:9998;
	display:none;
	background:url('/assets/overlay-bg.png');
	}
#overlay:after {
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlMjVlOTciIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjVlOTciIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(226,94,151,0.8) 0%, rgba(226,94,151,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(226,94,151,0.8)), color-stop(100%,rgba(226,94,151,0)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(226,94,151,0.8) 0%,rgba(226,94,151,0) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(226,94,151,0.8) 0%,rgba(226,94,151,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(226,94,151,0.8) 0%,rgba(226,94,151,0) 100%);
	background: radial-gradient(ellipse at center,  rgba(226,94,151,0.8) 0%,rgba(226,94,151,0) 100%);
	content:'';
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce25e97', endColorstr='#00e25e97',GradientType=1 );
	}
.popup {
	position:fixed;
	top:50%;
	left:50%;
	z-index:9999;
	display:none;
	width:760px;
	border:4px solid #872b8f;
	border-radius:6px;
	background:#fbfbfb url('/assets/register-bg.gif');
	box-shadow:0 0 6px 0 rgba(0,0,0,0.1);
	}
	.popup__close {

		}
	.popup__header {
		padding:40px 50px 0;
		color:#581776;
		text-align:center;
		font:48px "goodcyr-book", Arial, Helvetica, sans-serif;
		}
	.popup__body {
		padding:30px 50px;
		}

.socialbuttons {
	text-align:center;
	}
	.socialbuttons__item {
		display: inline-block;
		margin:0 13px;
		width:235px;
		height:74px;
		border-radius:8px;
		background:#f0f0f0;
		-webkit-box-shadow:1px 1px 0 0 #d3d3d3, -1px -1px 0 0 #fff;
		box-shadow:1px 1px 0 0 #d3d3d3, -1px -1px 0 0 #fff;
		vertical-align:top;
		cursor:pointer;
		}
	.socialbuttons__item:hover {
		opacity:0.9;
		}
	.socialbuttons__item:active {
		position:relative;
		right:-2px;
		bottom:-2px;
		-webkit-box-shadow:-1px -1px 0 0 #d3d3d3, 1px 1px 0 0 #fff;
		box-shadow:-1px -1px 0 0 #d3d3d3, 1px 1px 0 0 #fff;
		}
		.socialbuttons__item a {
			display:block;
			width:235px;
			height:74px;
			}
		.socialbuttons__item a.vk {
			background:url('/assets/vk.png') center center no-repeat;
			}
		.socialbuttons__item a.fb {
			background:url('/assets/fb.png') center center no-repeat;
			}

.members {

	}
	.members__item {
		position:relative;
		display: inline-block;
		margin:0 0 20px;
		padding:10px 20px;
		width:100px;
		border-radius:5px 5px 0 0;
		vertical-align:top;
		text-align:left;
		}
	.members__item:hover {
		position: relative;
		z-index:1;
		background:#fff;
		box-shadow:0 1px 5px 0 rgba(0,0,0,0.2);
		}
		.members__item:hover .member__name {
			color:#441356;
			}
		.members__item:hover .member__desc {
			color:#9f3f79;
			}

.member {

	}
	.member__photo_wrap {
		position: relative;
		}
		.member__photo {
			margin:0 0 10px;
			border-radius:5px;
			background:#457;
			box-shadow:0 0 30px 0 rgba(255,255,255,0.3), 0 1px 4px 0 rgba(0,0,0,0.3);
			}
		.member__count {
			position: absolute;
			top:-4px;
			left:-4px;
			padding:2px 6px;
			border-radius:3px;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxNWQ5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMzIxNjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(225,93,150,1) 0%, rgba(179,33,100,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,93,150,1)), color-stop(100%,rgba(179,33,100,1)));
			background: -webkit-linear-gradient(top,  rgba(225,93,150,1) 0%,rgba(179,33,100,1) 100%);
			background: -o-linear-gradient(top,  rgba(225,93,150,1) 0%,rgba(179,33,100,1) 100%);
			background: -ms-linear-gradient(top,  rgba(225,93,150,1) 0%,rgba(179,33,100,1) 100%);
			background: linear-gradient(to bottom,  rgba(225,93,150,1) 0%,rgba(179,33,100,1) 100%);
			color:#fff;
			font:bold 10px Arial, Helvetica, sans-serif;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e15d96', endColorstr='#b32164',GradientType=0 );
			}
	.member__name {
		margin:0 0 4px;
		color:#fff;
		font:14px/19px Arial, Helvetica, sans-serif;
		}
	.member__desc {
		margin:0 0 10px;
		color:#93d7f6;
		font:12px/15px Arial, Helvetica, sans-serif;
		}
	.member__share {
		position: absolute;
		top:100%;
		right:0;
		left:0;
		display:none;
		padding:10px 20px;
		border-radius:0 0 5px 5px;
		background:#fff;
		}
	.members__item:hover .member__share {
		display:block;
		}
	.member__footer {
		display:block;
		}
		.member__social {
			margin:0 0 16px;
			}
			.member__social_item {
				display: inline-block;
				overflow:hidden;
				width:16px;
				height:16px;
				text-indent:-9999px;
				}
				.member__social_item a {
					display:block;
					width:16px;
					height:16px;
					}
				.member__social_item a.vk {
					background:url('/assets/icons/top-social.png') top left no-repeat;
					}
				.member__social_item a.fb {
					background:url('/assets/icons/top-social.png') top right no-repeat;
					}
				.member__social_item a:hover {
					opacity:0.9;
					}
				.member__social_item a:active {

					}

.fulldescription {
	margin:40px 0 80px;
	}


.orgs {
	white-space:normal;
	}
	.orgs__photo {
		margin:0 auto 23px;
		width:185px;
		height:162px;
		text-align:center;
		}
	.sliderorgs .sliderpartners__item:hover .orgs__photo {
		background:url('/assets/orgs-bg.png') top left no-repeat;
		}
		.orgs__photo_image {
			width:162px;
			height:162px;
			}
	.orgs__name {
		text-transform:uppercase;
		font:12px "goodcyr-book", Arial, Helvetica, sans-serif;
		}
	.orgs__name:after {
		display:block;
		visibility:hidden;
		margin:20px auto;
		width:35px;
		height:2px;
		background:#000;
		content:'';
		}
	.orgs__desc {
		visibility:hidden;
		color:#5a1f70;
		font:12px/15px "goodcyr-book", Arial, Helvetica, sans-serif;
		}
	.sliderorgs .sliderpartners__item:hover .orgs__name:after,
	.sliderorgs .sliderpartners__item:hover .orgs__desc {
		visibility:visible;
		}